# CI
.azure
.circleci

# TypeScript
*.js.map
*.ts
!lib/**/*.d.ts
lib/**/*.d.ts.map
tsconfig.json
tsconfig.base.json
tslint.json
tslint.test.json
tsconfig.tsbuildinfo

# Git
.gitattributes

# Mics
yarn.lock
.editorconfig
/.vs
/source
/tests
/out
